@import url(http://fonts.googleapis.com/css?family=Oleo+Script);
/*
* Helper classes
*/
.center{
	text-align: center;
}

#project-title{
	font-family: 'Oleo Script', cursive;
	font-weight: lighter;
	color:#fff;
	text-shadow: 1px 1px #000;
	font-size: 28px;
}

#project-title img {
	height:30px;
	margin-top:-5px;
}

.oleo {
	font-family: 'Oleo Script', cursive;
	font-weight: lighter;
}

.login-container{
	width:400px;
	margin:0 auto;
}

.jumbotron {
	background: #FF9F2E;
	color: #fff;
	text-shadow:1px 1px #1d1d1d;
}