<div class="alert alert-info">
       <strong>ZongList</strong> for Android lets you download your music to your device with one tap. <strong>Follow the instructions below</strong> to install the application on your device.
</div>
<table class="table">
<tr>
       <td class="td-mid-android">
              <h4>1. Download the application</h4>
              <br />
              <p>Enter the link below on your Android device to download the application.</p>
              <h3><code>http://goo.gl/zfl28h</code></h3>
       </td>

       <td class="td-mid-android">
              <h4>2. Update your device settings</h4>
              <br />
              <p>In order to install the application you need to update your security settings to allow installation for untrusted sources</p>
              <p>Go to <code>Settings</code>, tap <code>Security</code> and then check <code>Unknown Sources</code></p>
       </td>

       <td class="td-mid-android">
              <h4>3. Install ZongList</h4>
              <br />
              <p>Now you are ready to install <b>ZongList</b>. Go to your <b>Downloads</b> folder and tap on the zonglist.apk file in order to install it on your device</p>
       </td>

       <td class="td-mid-android">
              <h4>4. Login</h4>
              <br />
              <p>Everything is ready now!</p>
              <p>Just login with your account and download your music!</p>
       </td>

</tr>
</table>