
    <span class="label label-success">Password settings</span>
    <div class="alert alert-success no-radius">
        <strong>Change your password</strong> and make sure you keep it only for you :)
    </div>
    <input type="text" class="form-control" id="password-change-old" placeholder="Old password">
    <br />
    <input type="text" class="form-control" id="password-change" placeholder="New password">
    <br />
    <span class="label label-danger label-submit" id="password-change-action">Click here to change password</span>

    <span id="app_state" style="display:none;">
    <hr />
    <span class="label label-info">Application state</span>
    <div class="alert alert-info no-radius">
        <strong>Save</strong> the application state. So when you'll get back, things will start from where you've left us. It's awesome
    </div>
    <input id="allow_storage_checkbox" class="css-checkbox" type="checkbox" />
    <label for="allow_storage_checkbox" name="demo_lbl_1" class="css-label">Save application state</label>
    </span>
<div class="clearfix"></div>
<br />