	<span class="pull-right">
		<span class="label label-danger">{{GetSongCount()}} song(s)</span>
	</span>
	<br />
	<div ng-if="GetSongCount() > 0" id="download_playlist" class="pull-left">
		<a href="/dashboard/#/" class="" id="create-pack-download" data-playlist="{{playlist.list_id}}">
			<span class="label label-success label-download-playlist"><span class="glyphicon glyphicon-download"></span>&nbsp;DOWNLOAD "{{playlist.name}}"</span>
		</a>
		<div class="alert alert-warning" id="watchdog" style="display:none">
			<span class="glyphicon glyphicon-time"></span>&nbsp;Please wait while we are creating your download pack..
		</div>
	</div>


	<div class="clearfix"></div>
	<br />
		<!-- iterate trough the project -->

		<table class="table table-condensed">
			<tr ng-repeat="song in songs">
				<td style="vertical-align:middle">
					<span ng-if="song.is_downloaded == 0" class="label label-default">Expired</span>
					<span ng-if="song.is_downloaded == 1" class="label label-warning">Active</span>
					{{song.nice_name}}
				</td>
				<td style="100px">
					<a style="width:100%;" data-url="{{song.direct_url}}" data-song-name="{{song.nice_name}}" class="pointer listen-song-action">
				  		<span class="glyphicon glyphicon-headphones"></span>
				  	</a>
				</td>
				<td>
					<a style="width:100%" href="/download/hash/{{song.download_url}}">
				   		<span class="glyphicon glyphicon-download"></span>
				   	</a>
				</td>

			</tr>
		</table>

		<br />

		</div>
		<div ng-if="GetSongCount() == 0">
		<div class="alert alert-warning" id="view-playlist-watchdog">
			<span class="glyphicon glyphicon-fire"></span>&nbsp;Oohh.. It burns to see there are no songs out here. Go to your dashboard and download a song tagged in this playlist! As soon as you'll have one, it will be available to download here and on your mobile phone!
		</div>
		<a href="/#/" class="label label-success">Click to download a song&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></a>
		</div>

		<!-- endif -->
		<div class="clearfix"></div>
		<br />