          <br />
          <div class="row" style="padding:0 !important;margin:0 !important;">
	<div ng-if="GetSongCount() > 0" id="download_playlist" class="pull-left">
		<a href="/dashboard/#/" class="" id="create-pack-download" data-playlist="{{playlist.list_id}}">
			<span class="label label-success label-download-playlist ttp" title="Click to download an archive containing all the songs"><span class="glyphicon glyphicon-download"></span>&nbsp;DOWNLOAD "{{playlist.name}}"</span>
		</a>
			<span id="queue_playlist" data-list-id="{{playlist.list_id}}" class="label label-info label-download-playlist ttp" title="Click here to queue the entire playlist and listen to it"><span class="glyphicon glyphicon-headphones"></span>&nbsp;QUEUE PLAYLIST</span>

			<span id="share_playlist" class="label label-warning label-download-playlist ttp" title="Get a link of this playlist to share with other ZongList users"><span class="glyphicon glyphicon-user"></span>&nbsp;SHARE PLAYLIST</span>
		<div class="alert alert-warning" id="watchdog" style="display:none">
			<span class="glyphicon glyphicon-time"></span>&nbsp;Please wait while we are creating your download pack..
		</div>
	</div>
          <span class="pull-right label-download-playlist label label-danger">{{GetSongCount()}} tracks</span>
          </div>


	<div class="clearfix"></div>
	<br />
		<!-- iterate trough the project -->

		<table class="table table-condensed">
			<tr ng-repeat="song in songs" class="song-entry">
				<td style="width:55px;">
					<img src="http://img.youtube.com/vi/{{song.video_id}}/3.jpg" style="width:50px;height:50px;">
				</td>
				<td class="song-nicename">
					{{song.nice_name}}
					<br />
					<span class="song-details">
						<a href="http://www.youtube.com/watch?v={{song.video_id}}" target="_blank"><span class="glyphicon glyphicon-eye-open"></span> watch on YouTube</a>
					</span>
				</td>
				<td>
					<span ng-if="song.is_downloaded == 0" title="The song will be downloaded again when you request it." class="ttp expired-{{song.song_id}}"><span class="glyphicon glyphicon-info-sign"></span></span>
					<span ng-if="song.is_downloaded == 1" title="This song can be played and downloaded instantly" class="ttp"><span class="glyphicon glyphicon-ok-sign"></span></span>
				</td>
				<td style="100px;font-size:15px !important;">
					<a title="Listen now" style="width:100%;" data-url="{{song.direct_url}}" data-video-id="{{song.video_id}}" data-song-id="{{song.song_id}}" data-song-status="{{song.is_downloaded}}" data-song-name="{{song.nice_name}}" class="pointer listen-song-action ttp">
				  		<span class="glyphicon glyphicon-headphones"></span>
				  	</a>
				</td>
				<td style="font-size:15px;">
					<a style="width:100%" class="song-download-action ttp" title="Download MP3" data-url="download/hash/{{song.download_url}}">
				   		<span class="glyphicon glyphicon-download"></span>
				   	</a>
				</td>
				<td style="font-size:15px;">
					<a style="width:100%" class="song-queue-action ttp" title="Queue song" data-song-id="{{song.song_id}}">
				   		<span class="glyphicon glyphicon-circle-arrow-right"></span>
				   	</a>
				</td>

			</tr>
		</table>

		<br />

		</div>
		<div ng-if="GetSongCount() == 0">
		<div class="alert alert-warning" id="view-playlist-watchdog">
			<span class="glyphicon glyphicon-fire"></span>&nbsp;Oohh.. It burns to see there are no songs out here. Go to your dashboard and download a song tagged in this playlist! As soon as you'll have one, it will be available to download here and on your mobile phone!
		</div>
		<a href="/#/" class="label label-success">Click to download a song&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></a>
		</div>

		<!-- endif -->
		<div class="clearfix"></div>
		<br />

<!-- SHARE PLAYLSIT MODAL -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Share this link with your friends</h4>
      </div>
      <div class="modal-body">
      		<br />
      		<span id="share-link-content"></span>
      		<br /><br />
      		<p><b>Attention:</b> The user needs to be logged in order to see this playlist! Also, user can only view, listen and download songs within this playlist. He cannot add any other songs.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>